.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 99vw;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 90%;
    background-color: #12093E;
    border-radius: 10px;
}


.ahorcado-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.ahorcado-vida-palabra {
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    gap: 100px;
}

.ahorcado-palabra {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.ahorcado-teclado {
    background-color: #a8d0ff;
    height: 70%;
    width: 100%;
    border-radius: 0 0 10px 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.perdedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ganador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perdiste {
    font-size: 60px;
}

.btn-letra {
    font-family: "Josefin Sans", sans-serif;
    border-radius: 5px;
    height: 60px;
    width: 60px;
    margin: 2px;
    border: none;
    background: #e1dedc;
}

.btn-letra:hover {
    background: #9c9399;
}

.btn-reiniciar {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    border-radius: 10px;
    border-color: #12093E;
    height: 100px;
    width: 300px;
    background: #e1dedc;
}

.ahorcado-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ahorcado-img img {
    max-width: 390px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}