.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 99vw;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 90%;
    background-color: #12093E;
    border-radius: 10px;
}


.ahorcado-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.ahorcado-vida-palabra {
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    gap: 100px;
}

.ahorcado-palabra {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.ahorcado-teclado {
    background-color: #496176;
    width: 100%;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
    flex-wrap: wrap;
}

.letras-acertadas, .letras-erradas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 18px;
    min-width: 120px
}

.teclado {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.perdedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ganador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perdiste {
    font-size: 60px;
}

.btn-letra {
    font-family: "Josefin Sans", sans-serif;
    border-radius: 5px;
    height: 60px;
    width: 60px;
    margin: 2px;
    border: none;
    background: #e1dedc;
}

.btn-letra:hover {
    background: #9c9399;
}

.btn-letra:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.btn-letra:disabled:hover {
    background: #e1dedc;
}

.btn-reiniciar {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    border-radius: 10px;
    border-color: #12093E;
    height: 100px;
    width: 300px;
    background: #e1dedc;
}

.ahorcado-img {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ahorcado-img img {
    max-width: 450px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #fff;
}

.estadisticas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2rem;
    margin: 10px;
}

.estadistica-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 250px;
    border: 2px solid #fff;
    border-radius: 8px;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffcc00;
}

.valor {
    font-size: 1.4rem;
}